{% extends 'base.html' %}
{% load staticfiles %}
{% block mycss %}
     <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/queryCity/css/cityLayout.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/lq.datetimepick.css' %}"/>
    {% block mycss1 %}{% endblock %}
{% endblock %}
{% block search %}
    <div class="middle">
        <div class="wp">
            <a href="/"><img class="fl" src="{% static 'images/logo1.png' %}"/></a>
            <h1>我的谷粒教育网</h1>
        </div>
    </div>
{% endblock %}
{% block content %}

<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li><a href="{% url 'users:usercenter_info' %}">个人中心</a>></li>
                <li>{% block breach %}{% endblock %}</li>
            </ul>
        </div>
</section>
    <section>
	<div class="wp list personal_list">
        <div class="left">
            <ul>
                <li class="active2"><a href="{% url 'users:usercenter_info' %}">个人资料</a></li>
                <li ><a href="{% url 'users:usercenter_mycourse' %}">我的课程</a></li>
                <li ><a href="{% url 'users:usercenter_fav_org' %}">我的收藏</a></li>
                <li >
                    <a href="{% url 'users:usercenter_message' %}" style="position: relative;">
                        我的消息
                    </a>
                </li>
            </ul>
        </div>
        {% block right %}
        {% endblock %}
	</div>
    </section>


    {% block dialog %}
    {% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block myjs %}
    <script src='{% static 'js/plugins/jquery.upload.js' %}' type='text/javascript'></script>
    <script src="{% static 'js/validate.js' %}" type="text/javascript"></script>
    {% block userjs %}
        <script src="{% static 'js/deco-user.js' %}"></script>
    {% endblock %}
    <script src="{% static 'js/validateDialog.js' %}"  type="text/javascript"></script>
    {% block myjs1 %}{% endblock %}
{% endblock %}
{#{% block myjs %}#}
{#    <script src='{% static 'js/plugins/jquery.upload.js' %}' type='text/javascript'></script>#}
{#    <script src="{% static 'js/validate.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/deco-user.js' %}"></script>#}
{#    <script src="{% static 'js/validateDialog.js' %}"  type="text/javascript"></script>#}
{#    {% block myjs1 %}{% endblock %}#}
{#{% endblock %}#}

